<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Welcome to the Krusty Krab API</h1>
        <h4>Routes</h4>
        <p>/staff and /staff/:id</p>
        <p>/menu and /menu/:id</p>
    </div>
</body>
</html>